.App {
    text-align: center;
}

#header-text {
    font-size: 25px;
}

#current-verb {
    font-size: 25px;
    color: #007bff;
}

#card-header {
    height: 60px;
}

.verb-icon {
    cursor: pointer;
    color: #007bff;
}

.verb-form {
    height: 30px;
    margin: 5px;
}

.verb-elem-text {
    font-size: 13px;
}

.verb-elem-answer {
    color: #007bff;
}

.verb-elem-type {
    min-width: 100px;
}

.verb-variant-item {
    margin: 2px;
}

#verb-card {
    min-height: 300px;
    min-width: 310px;
}

#verb-list {
    margin-top: 40px;
}

#show-verb-btn {
    width: 110px;
}

#search {
    height: 60px;
}

#search-input {
    width: 310px;
}

#answers-block {
    height: 65px;
    width: 268px;
}

.answer-input {
    width: 122px;
    height: 20px;
    color: #007bff;
    font-size: 15px;
}

.short-input {
    width: 122px;
}

.long-input {
    width: 158px;
}

#link-list {
    width: 310px;
    height: 60px;
}

@media (max-width: 540px) {
  #header-text {
      font-size: 20px;
  }
  .answer-input {
      font-size: 13px;
  }
}
